#banner {
	margin-top: 66px; 
	background #467612;
	-moz-border-radius:22px; /* Firefox */ 
	border-radius: 100px;
}

#banner h2, #banner p{
/*	width: 336px; */
}

#banner h2 {
	padding: 0 0 22px 0;
	font-weight: normal
	color: #fff;
}

#banner p {
	font 10px/22px Helvetica, Arial, sans-serif;
	padding: 0;
}

