/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}


/* The Basics */
header, footer, aside, section, nav {
	display: block;
}

body {
	margin: 0 auto;
	width: 900px;
	font 10px/22px Helvetica, Arial, sans-serif;
	background: #90AEC6;
	color: white;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	font 10px/22px Helvetica, Arial, sans-serif;
	padding-bottom: 22px;
}

#main{
	font 10px/22px Helvetica, Arial, sans-serif;
	background: #1D3240;
	background-size: 100%;
	color: white;
	border-radius: 22px;
}
aside {
	float: right;
	position: absolute;
	right: 50px;
}

#banner {
        display: table;
}

        #mainBanner{
	    display: table-cell;
	    width: 1000px;
	    background: #EC1559;
	    padding-top: 15px;
	    color: #213240;
        }

#border{
	display: table;
}
	
	#mainBorder{
	    display: table-cell;
	    width: 700px;
	    background: #213240;
	}

#buffer{
	display: table;
}
	#mainBuffer{
	    display: table-cell;
	    padding-left: 20px;
	    padding-right: 20px;
	}
