#logo
{
display:block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
width:200px;
opacity: .75;
filter: alpha(opacity=75);
-moz-opacity: .75;
}
#the_form
{
margin-right: auto;
margin-left: auto;
width: 250px;
}
#the_submit
{
margin-left: 40%;
margin-top: 10px;
}
.input_field
{
float: right;
}