
body #body-wrapper {
    background: #3D3734 top left no-repeat;
    margin: auto;
    padding: 70px;
    width: 820px;
}

a {
	color: #99CC00;
	outline: none;
}

.clear {
	display: block;
	clear:both;
}

section, header, footer {
	display: block;
}

header {
	margin-bottom: 60px;
}

	header #logo {
		color: #FFFFFF;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: -2.5px;
		text-decoration: none;
	}
	
		header #logo span {
			color: #99CC00;
		}
		
		header #logo:hover {
			text-shadow: 0px 2px 1px #1A1716;
        }
		
	header nav {
		float: right;
		margin-top: 3px;
	}
	
		header nav#menu ul {}
		
		header nav#menu ul li {
			display: inline;
			float: left;
			margin-left: 20px;
			width: 100px;
		}
		
			header nav#menu ul li a {
				border-bottom: 8px solid #2A2421;
				color: #FFFFFF;
				display: block;
				font-size: 13px;
				font-weight: bold;
				padding-bottom: 6px;
				text-decoration: none;
				text-shadow: 0 1px 1px #2E2927;
				text-transform: lowercase;
			}
			
				header nav#menu ul li a:hover,
				header nav#menu ul li.current a {
					border-bottom-color: #99CC00;
				}
		
		header nav#menu ul li:hover ul {
			display: block;
		}
		
		header nav#menu ul ul {
			display: none;
			position: absolute;
			margin-left: -20px;
			width: 100px;
		}
			
			header nav#menu ul ul li:first-child {
				border-top: 1px solid #2A2421;
			}
			
			header nav#menu ul ul li:last-child {
				border-radius: 5px 5px 5px 5px;
				-webkit-border-radius: 5px 5px 5px 5px;
			}
			
			header nav#menu ul ul:last-child {
				-moz-border-radius: 2px 0 0 2px;
				-webkit-border-radius: 2px 0 0 2px;
			}
		
			header nav#menu ul ul li {
				display: block;
			}
			
			header nav#menu ul li ul li a {
				background: #99CC00;
				color: #2E2927;
				border-bottom: 1px solid #3A3431;
				font-size: 11px;
				line-height: 11px;
				text-shadow: none;
				padding: 4px 6px;
			}
			
			header nav#menu ul li ul li a:hover {
				background: #2E2927;
				border-bottom-color: #3A3431;
				color: #99CC00;
				text-shadow: none;
			}
			
			header nav#menu ul li ul li a:active {
				background: #2E2927;
				color: #99CC00;
				text-shadow: none;
			}
