{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block css %}<link rel="stylesheet"
type="text/css" href="/media/css/login.css" />{% endblock %}
{% block content%}
<section>
    <p>Please enter your credentials.</p>

    <img id="logo" src="/media/images/ucsc_slug.jpg" alt="UCSC logo" />

    {% if form.errors %}
        <p>Your username and password didn't match, please try again.</p>
    {% endif %}

    <form method="post" action=".">
        <p>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </p>
        <p>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </p>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% else %}
            <input type="hidden" name="next" value="/" />
        {% endif %}
        <input type="submit" value="login" />
    </form>
</section>
{% endblock %}
