{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block css %}<link rel="stylesheet"
type="text/css" href="/media/css/login.css" />{% endblock %}
{% block header %}Login{%endblock%}
{% block banner %}
    <img id="logo" src="/media/images/ucsc_slug.jpg" alt="UCSC logo" /> 

    {% if form.errors %}
        <span>Your username or password was not found; please try again.</span>
    {% endif %}
{% endblock %}

{% block content %}
	<div> 
		<h3>Please enter your credentials.</h3> 
		<form class="description" method="post" action="."> {% csrf_token %}
	        <span>
	            <label for="id_username">Username:</label>
	            {{ form.username }}
	        </span>
			<br>
	        <span>
	            <label for="id_password">Password:</label>
	            {{ form.password }}
	        </span><br>
	        {% if next %}
	            <input type="hidden" name="next" value="{{ next }}" />
	        {% else %}
	            <input type="hidden" name="next" value="/" />
	        {% endif %}
	        <input type="submit" value="login" />
	    </form> 
	</div> 
{% endblock %}

