
<!DOCTYPE html> 
<html> 
	<head> 
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"></meta>		<title>S.C.O.R.E.</title> 
		<link href="/CSStest2.css" rel="stylesheet" type="text/css" /> 
<link href="CSStest1.css" rel="stylesheet" type="text/css" /> 
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png" /> 
	</head> 
	
	<body> 
		<div id="body-wrapper"> 
			<header> 
	<a id="logo" href="/">S.C.O.R.E.<span>*</span></a>	<nav id="menu"> 
		<ul> 
			<li><a href="/">Home</a></li> 
			<li><a href="/downloads">Messages</a>				<ul> 
					<li><a href="/downloads">Your Messages</a></li> 
				</ul> 
			</li> 
			<li><a href="/docs">Course Catalogue</a>				<ul> 
					<li><a href="#">See Catalogue</a></li> 
					<li><a href="#">Choose Courses</a></li> 
					<li><a href="#">Review Courses</a></li> 
				</ul> 
			</li> 
			<li><a href="#">Manage Courses</a>				<ul> 
					<li><a href="#">Review Courses</a></li> 
				</ul> 
			</li> 
			<li><a href="#">Personal Information</a>				<ul> 
					<li><a href="#">View Information</a></li> 
					<li><a href="#">View Friends</a></li> 
				</ul> 
			</li>
			<li><a href="#">Settings</a>				<ul> 
					<li><a href="#">View Settings</a></li> 
					<li><a href="#">Choose Courses</a></li> 
					<li><a href="#">Review Courses</a></li> 
				</ul> 
			</li> 
		</ul> 
	</nav> 

	<span class="clear"></span> 
</header>		
			<section id="mude"> 
				<h2>Mude.</h2> 
				<p class="description"> 
					<strong>S.C.O.R.E.<span>*</span></strong> The most sick-ass course scheduling system known to man. Use it or get abused by it.
<!--why?? -->					<a class="download-button" href="/downloads">Download</a>				</p> 
			</section> 
 
			<section id="features"> 
	<div> 
		<h2>LOLPARAGRAPH1</h2> 
		<p>The meaning behind LOLPARAGRAPH1 holds true enlightenment, as it is a combination of surprise and astonishment that a paragraph was made successfully, using html5. By exclaiming LOL, it is a form of joy, while PARAGRAPH1 is just horrible grammar.</p> 
	</div> 
	<div> 
		<h2>LOLHEADERZ</h2> 
		<p>Again, LOL referring to joy, HEARDERZ refers to the surprise that the second header was correctly placed.</p> 
	</div> 
	<div> 
		<h2>ZOMGLOLWTFBBQ!!!11!one!</h2> 
		<p>It's effing late and I want bbq. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah .</p> 
	</div> 
	<div> 
		<h2> OM NOM NOM NOM</h2> 
		<p>just got some food. i be chowin!!! word dawgggg! /ghetto</p> 
	</div> 
	<span class="clear"></span> 
</section>		</div> 
		<!-- element: footer.html.php --> 
<footer> 
	<div id="footer-wrapper"> 
	    <div class="directory"> 
	        <ul> 
	            <li><strong>check browser</strong></li> 
	            <li><a href="/downloads">mozilla firefox</a></li> 
	            <li><a href="http://github.com/spaghettiphp/spaghettiphp/downloads">google chrome</a></li> 
	        </ul> 
	        <ul> 
	            <li><strong>support</strong></li> 
	            <li><a href="/docs/developer-guide">frequently asked questions</a></li> 
	            <li><a href="http://forum.spaghettiphp.org/tutorials">help</a></li> 
	        </ul> 
	        <ul> 
	            <li><strong>contact</strong></li> 
	            <li><a href="http://forum.spaghettiphp.org/">phone</a></li> 
	            <li><a href="http://blog.spaghettiphp.org/">website</a></li> 
	        </ul> 
	        <ul> 
	            <li><strong>jobs</strong></li> 
	            <li><a href="/contact">lolcats</a></li> 
	        </ul> 
	    </div> 
	    <span class="clear"></span> 
	</div> 
</footer>

		<script type="text/javascript"> 
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.")
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"))
		</script> 
		<script type="text/javascript"> 
			try {
				var pageTracker = _gat._getTracker("UA-596723-11")
				pageTracker._setDomainName(".spaghettiphp.org")
				pageTracker._trackPageview()
			} catch(err) {}
		</script> 
	</body> 
</html>