{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block header %}Admin{% endblock %}

{% block nav %}
<li class="sub"><a href="/account/" title="Account">Account</a>
	<ul>
		<li><a href="/logout/" title="Log out">Log out</a></li>
	</ul>
</li>
<li><a href="/administrator/import/" title="CSV Import">CSV Import</a></li>
<li class="sub"><a href="/algorithm/status/" title="Status">Scheduler</a>
	<ul>
		<li><a href="/algorithm/status/" title="Status">Scheduler Status</a></li>
		<li><a href="/algorithm/run" title="Run the Scheduler">Run Scheduler</a></li>
	</ul>
</li>
<li><a href="/admin/" title="Database Panel">Database Panel</a></li>
{% endblock %}

{% block banner %}<h2>Admin Home</h2>{% endblock %}

{% block content %}
<p>Thank you for logging in. Welcome to the admin page.</p>
<dl>
        <dt><a href="#Week1">Week 1</a></dt>
        <dd id="Week1">
                <p>Week One Calendar Goes Here</p>
        </dd>
        <dt><a href="#Week2">Week 2</a></dt>
        <dd id="Week2">
                <p>Week Two Calendar Goes Here</p>
        </dd>
        <dt><a href="#Week3">Week 3</a></dt>
        <dd id="Week3">
                <p>Week Three Calendar Goes Here</p>
        </dd>
         <dt><a href="#Week4">Week 4</a></dt>
        <dd id="Week4">
                <p>Week Four Calendar Goes Here</p>
        </dd>
</dl>

{% endblock %}
