{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block header %}Admin{% endblock %}

{% block nav %}
<li><a href="/account/" title="Account">Account</a>
	<ul>
		<li><a href="/logout/" title="Log out">Log out</a></li>
	</ul>
</li>
<li><a href="/administrator/import/" title="CSV Import">CSV Import</a></li>
<li><a href="/algorithm/status/" title="Status">Scheduler</a>
	<ul>
		<li><a href="/algorithm/status/" title="Status">Scheduler Status</a></li>
		<li><a href="/algorithm/run" title="Run the Scheduler">Run Scheduler</a></li>
	</ul>
</li>
<li><a href="/admin/" title="Database Panel">Database Panel</a></li>
{% endblock %}

{% block banner %}<h2>Admin Home</h2>{% endblock %}

{% block content %}
<p>Thank you for logging in. Welcome to the admin page.</p>
{% endblock %}