{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block header %}Admin{% endblock %}

{% block nav %}
<li><a href="/account/" title="Account">Account</a>
	<ul>
		<li><a href="/logout/" title="Log out">Log out</a></li>
	</ul>
</li>
<li><a href="/staff/import/" title="CSV Import">CSV Import</a></li>
<li><a href="/staff/edit/" title="Edit Databases">Mass Edit</a>
	<ul>
		<li><a href="/staff/edit/master/" title="Edit Master Schedule">Master Schedule</a></li>
		<li><a href="/staff/edit/quarter/" title="Edit Quarter Schedule">Quarter Schedule</a></li>
		<li><a href="/staff/edit/users/" title="Edit Users">Users</a></li>
	</ul>
</li>
<li><a href="/staff/status/" title="Status">Status</a></li>
<li><a href="/admin/" title="Admin Panel">Auto-admin panel</a></li>
{% endblock %}

{% block banner %}<h2>Admin Home</h2>{% endblock %}

{% block content %}
<p>Thank you for logging in. Welcome to the admin page.</p>
{% endblock %}