<!doctype html>
<html lang="en">

        <head>
                <meta charset="utf-8"/>
                <title>{% block title %}Home{% endblock %} - SCORE Scheduler</title>
        
                <!--[if lt IE ]>
                        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->
                
                <link rel="stylesheet" media="all" href="/media/css/all.css"/>
                {% block css %}{% endblock %}
                <meta name="viewport" content="width=device-width; initial-scale=1"/>
                <!-- Add "maximum-scale=1" to fix the Mobile Safari auto-zoom bug on orientation changes, 
                        but keep in mind that it will disable user-zooming completely. Bad for accessibility. -->
       <header>
	   <div id="logo">
              <hgroup>
                  <h1>SCORE</h1>
                  <h4>{%block header%}UCSC Scheduler{% endblock %}</h4>
              </hgroup>
           </div>
       </header>

        </head>
	<nav>
              <ul id="nav">
                  <li class="current"><a href ="/" title="Home">Home</a></li>
                  <li><a href ="/manual/" title="Manual">Manual</a></li>
                  {%block nav%}
                  <li><a href="/login" title="Nav Link 2">Log In</a></li>
                  {%endblock%}
              </ul>
           </nav>
       <div id="content">
           <section class="hfeed">
                {%block content%}
                <h3>Welcome!</h3>
                <p>The S.C.O.R.E MyCourses is an end-to-end scheduling system that automates and reduces the manual labor of scheduling university courses. We seek to provide universities an easy-to-use and automated service that can help reduce staff costs, reduce implementation costs and decrease the complications and time costliness of organizing an entire schedule.
</p>
<p>&nbsp</p>

<p>The S.C.O.R.E MyCourses team started in mid September by a group of 5 engineering students taking a software methodology course. Following the software engineering process, we chose to do a course scheduling system as our class project because, like many other students and faculty, we felt that there were problems and issues with our current course student portal and we believe that we could develop a better one. 
</p>
<p>&nbsp</p>
<p>
The management of the S.C.O.R.E team includes Justin Lazaro, Will Crawford, Ben Ross, Erik Steggall, and Sabba Petri. Several of the team members have held a variety of roles in the technology industry experience in roles such as IT, QA, and Marketing at top technology firms including: Hewlett Packard, RiverBed Technologies, and Yahoo!.</p> 
<p>&nbsp</p>
<p>
While we are still in the very early stages of development, we believe that our solution can provide incredible value to universities and ease the frustrations of faculty, students, and staff. In addition to a course scheduling system, we plan on expanding our product line to include an employee scheduling system and offer that as a Software-as-a-Service to businesses nationwide. </p>

 <p>&nbsp</p>          
<p>If you're unable to log in, you'll need to contact the admin to activate your account.</p>
                {%endblock%}
           </section>
       </div>
       <footer id="main-footer">
           {%block footer%}
           <section id="footer-1">
               Copyright UCSC Score Team 2010-2011
           </section>
           {%endblock%}
       </footer>
</html>

