<!DOCTYPE html>
<html>
<!-- This is the home welcome page of the MyCourses page -->
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{#		<link rel="stylesheet" type="text/css" href="/media/css/suggestion-default.css" /> #}

		<link href="/media/css/CSStest2.css" rel="stylesheet" type="text/css" /> 
		<link href="/media/css/CSStest1.css" rel="stylesheet" type="text/css" /> 
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
		
{% block css %}{% endblock %}

<title>S.C.O.R.E. - {% block title %}Home{% endblock %}</title>
</head>
<body>
<div id="body-wrapper"> 
	<header> 
		<a id="logo" href="/">S.C.O.R.E.<span>*</span></a>	<nav id="menu"> 
			<ul> 
				<li><a href="/downloads">Home</a>				
				    <ul> 
					    <li><a href="/downloads">Your Messages</a></li> 
					</ul> 
				</li> 
				<li><a href="/docs">Course Chooser</a>				
				    <ul> 
						<li><a href="#">View Catalogue</a></li> 
						<li><a href="/coursemanager/">Choose Courses</a></li> 
					</ul> 
				</li> 
				<li><a href="#">Review Courses</a>				
				    <ul> 
						<li><a href="/shopping-cart/">Shopping Cart</a></li>
						<li><a href="#">View Current Courses</a></li>  
					</ul> 
				</li> 
				<li><a href="#">Personal</a>				
				    <ul> 
						<li><a href="#">View Information</a></li> 
						<li><a href="#">View Friends</a></li> 
					</ul> 
				</li>
				<li><a href="#">Settings</a>				
				    <ul> 
						<li><a href="/settings/">View Settings</a></li> 
						<li><a href="#">Choose Courses</a></li> 
						<li><a href="#">Review Courses</a></li> 
					</ul> 
				</li> 
			</ul> 
		</nav> 

		<span class="clear"></span> 
	</header>
<section id="mude"> 
	<h2>Mude.</h2> 

</section>

 
{% block content %}
<section id="features"> 
		<div> 
			{% if user.is_authenticated %}
			<h2>Your username is...</h2> 
			<p>{{ user.username }}</p> 
			{% else %}
			<h2>Please log in</h2>
			<p><a href="/login/">Click here</a></p>
			{% endif %}
		</div> 
		<div> 
			<h2>User functions</h2> 
			{% if user.is_authenticated %}
		    <p>You may <a href="/logout/">log out.</a></p>
		    {% else %}
		    <p>You are not logged in..</p>
		    {% endif %}
		</div> 
		<div> 
			<h2>Admin functions</h2>
			<p>
			{% if user.is_authenticated %}
			    {% if user.is_staff %}
			    <a href="/run-algorithm">Run</a> the algorithm
			    {% else %}
			    You are not an admin.
			    {% endif %}
			{% else %}
			You are not logged in.
			{% endif %}
			<p></p> 
		</div> 
		<div> 
			<h2>Testing Paragraph Header 4</h2> 
			<p>Testing Paragraph 4.</p> 
		</div> 
		<span class="clear"></span> 
</section>
{% endblock %}
{% block footer %}
<hr>
<footer>
	<div id="footer-wrapper"> 
	    <div class="directory"> 
	        <ul> 
	            <li><strong>validate</strong></li> 
	            <li><a href="http://validator.w3.org/check/referer">W3C Validator</a></li>
	        </ul> 
	        <ul> 
	            <li><strong>support</strong></li> 
	            <li><a href="/placeholder">frequently asked questions</a></li> 
	            <li><a href="/placeholder">help</a></li> 
	        </ul> 
	        <ul> 
	            <li><strong>contact</strong></li> 
	            <li><a href="/placeholder">the team</a></li> 
	        </ul> 
	        <ul> 
	            <li><strong>jobs</strong></li> 
	            <li><a href="/placeholder">join our team!</a></li> 
	        </ul> 
	    </div> 
	    <span class="clear"></span> 
		<span>© 2010, [CS115] The S.C.O.R.E. team at UC Santa Cruz.</span>

	</div>
</footer>
{% endblock %}
</html>
