<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Calendar: {% block title %}Home{% endblock %} - Blue Bell Scheduler</title>
	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css' />
	<link rel='stylesheet' type='text/css' href='/media/jqcal/jquery.weekcalendar.css' />
	<link rel='stylesheet' type='text/css' href='/media/jqcal/calendar-lookfeel.css' />
	{% block css %}{% endblock %}
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>
	<script type='text/javascript' src='/media/jqcal/jquery.weekcalendar.js'></script>
	<script type='text/javascript' src='/media/jqcal/ourfunctions.js'></script>
	{% block js %}{% endblock%}
</head>
<body>
	<h1>Blue Bells Calendar Test: {%block header%}{%endblock%}</h1>
	<ul id="nav">
{%block nav%}<li><a href="/login" title="Log In">Log In</a></li>{%endblock%}</ul>
	<p class="description">This test uses json data, and should pull from a client-side events.json initialized by javascript. We do not initialize anything yet.</p>
	<div id='calendar'></div>
</body>
</html>
