{% extends "base.html"%}
{% block title %}Home{% endblock %}

{% block content %}
<section id="features"> 
		<div> 
			{% if user.is_authenticated %}
			<h2>Your username is...</h2> 
			<p>{{ user.username }}</p> 
			{% else %}
			<h2>Please log in</h2>
			<p><a href="/login/">Click here</a></p>
			{% endif %}
		</div> 
		<div> 
			<h2>User functions</h2> 
			{% if user.is_authenticated %}
		    <p>You may <a href="/logout/">log out.</a></p>
		    {% else %}
		    <p>You are not logged in..</p>
		    {% endif %}
		</div> 
		<div> 
			<h2>Admin functions</h2>
			<p>
			{% if user.is_authenticated %}
			    {% if user.is_staff %}
			    <a href="/run-algorithm">Run</a> the algorithm
			    {% else %}
			    You are not an admin.
			    {% endif %}
			{% else %}
			You are not logged in.
			{% endif %}
			<p></p> 
		</div> 
		<div> 
			<h2>Testing Paragraph Header 4</h2> 
			<p>Testing Paragraph 4.</p> 
		</div> 
		<span class="clear"></span> 
</section>
{% endblock %}
