<html>
<!-- This is the home welcome page of the MyCourses page -->
<head>
<link rel="stylesheet"
type="text/css" href="default.css" />

<body>
<h1>S.C.O.R.E MyCourses Scheduling System</h1>

<p>Welcome to the MyCourses Scheduling System. Please enter your credentials  </p>
<div id="email"><form action="form_action.asp" method="get">
	<div id="email_input">
		Email: <input type="text" name="fname"/><br />
	</div>
	<div id="password_input">
		<br><br/>	
		Password: <input type="text" name="lname"/><br />
	</div>
	<div id="submit">
		<input type="submit" value="Submit" />
	</div>
	</form>
</div>
</body>
</html>