{% extends "base.html"%}
{% block title %}Home{% endblock %}

{% block description %}
<p class="description"> 
    <img id="logo" src="/media/images/ucsc_slug.jpg" alt="UCSC logo" /> 
</p>
{% endblock %}

{% block content %}

<section id="features"> 
		<div> 
			<h2>Accept Cookies</h2> 
			<p></p>
		</div> 
		<div> 
			<h2>Enable Javascript</h2> 
			<p></p>
		</div> 
		<div> 
			<h2>Supported Operating Systems/Browsers</h2> 
			<p></p> 
		</div> 
		<div> 
			<h2>Disable Browser's Pop-up Blocker'</h2> 
			<p>	</p> 
		</div> 
		<span class="clear"></span> 
</section>

{% endblock %}
