{% extends "base.html"%}
{% block title %}Home{% endblock %}

{% block description%}
<p class="description"> 
    <img id="logo" src="/media/images/ucsc_slug.jpg" alt="UCSC logo" /> 

    {% if form.errors %}
        <span>Your username or password was not found; please try again.</span>
    {% endif %}
</p>
</section>
{% endblock %}

{% block content %}
<section id="features"> 
		<div> 
			<h2>Shopping Cart</h2> 
			<p>be goin' shoppin'!</p>
		</div> 
		<div> 
			<h2>Testing Paragraph Header 2</h2> 
			<p>Testing Paragraph 2.</p>
		</div> 
		<div> 
			<h2>Testing Paragraph Header 3</h2> 
			<p>Testing Paragraph 3.</p> 
		</div> 
		<div> 
			<h2>Testing Paragraph Header 4</h2> 
			<p>Testing Paragraph 4.</p> 
		</div> 
		<span class="clear"></span> 
</section>
{% endblock %}
