<html>
<!-- This is the home welcome page of the MyCourses page -->
<head>
<link rel="stylesheet"
type="text/css" href="default.css" />

<body>
<h1>S.C.O.R.E MyCourses</h1>
<h2>Scheduling System</h2>

<p>Welcome to the MyCourses Scheduling System.<br/>
	Please enter your credentials.</p>
<div id="the_form"><form action="form_action.asp" method="get">
	<div id="the_email">Email: <input class="input_field" type="text" name="email"/></div>
	<br/>
	<div id="the_password">Password: <input class="input_field" type="password" name="password"/></div>
	<br/>
	<div id="the_submit"><input type="submit" value="Submit" /></div>
</form>
</div>
</body>
</html>