<html>
<head>
<link rel="stylesheet"
type="text/css" href="../static/css/suggestion-default_justin.css" />
</head>
<body>
	<h1>System Administrator's main site</h1> 
	<h2>Scheduling System</h2>
	<div id="nav-menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Messages</a></li>
			<li><a href="#">Course Database</a></li>
			<li><a href="#">Manage PM</a></li>
			<li><a href="#">Review</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</div>
	<p> Hello </p>
</body>
</html>
