
/** Dropdown Magic **/
nav { /* the structure of our head-menu */

	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	border: 1px black;
}    
nav li, nav li ul li { /* the structure of the first items */
	float: left;
	position: relative;
	width: 100px;
}
nav li a { /* the links inside our first items */
	display: block;
}
nav li a:hover { /* the roll-over styles for the links in our first items */
	
}
nav li ul { /* first items > submenu structure */
	display: none;
	position: absolute;
	width: 100px;
	top: 18px;
	left: 0;
	margin-left: -1px;
}
nav ul li { /* the structure of our submenu items */}
li > ul { /* extra styles for Internet Explorer (behavior file) */
	top: auto;
	left: auto;
}
nav li:hover ul, nav li.over ul { /* to make things work in Internet Explorer (call for the behavior file) */
	display: block;
}
nav li.current { /* If we figure out how to do dynamic current selection in Django... */
	font-weight: bolder;
}

/* Hack for IE6 */
body { behavior:url(csshover.htc); }

/** Nav Styling **/
nav {
	clear: both;
	position: relative;
	display: block;
	left: 0;
	width: 100%;
	/*background: url("nav_background"); */
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}
	nav ul li a {
		display: block;
		margin-right: 20px;
		width: 140px;
		font-size: 14px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;
		color #777;
	}
		nav ul li a:hov
